@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.light {
  --bg-color: #fff;
  --text-color: #333;
  --border-color: #ccc;
  --primary-bg-color: #007bff;
  --primary-hover-bg-color: #0069d9;
  --secondary-bg-color: transparent;
  --secondary-hover-color: #c0bfbf;
  --secondary-color: #333;
  --danger-bg-color: #dc3545;
  --danger-hover-bg-color: #c82333;
  --danger-color: #e70918;
  --done-color: #029121;
  --progress-color: #b08300;
  --card-bg-color: #dfe7ee;
}

.dark {
  --bg-color: #333;
  --text-color: #fff;
  --border-color: #ccc;
  --primary-bg-color: #007bff;
  --primary-hover-bg-color: #0069d9;
  --secondary-bg-color: transparent;
  --secondary-hover-color: #666;
  --secondary-color: #fff;
  --danger-bg-color: #dc3545;
  --danger-hover-bg-color: #c82333;
  --danger-color: #fa3846;
  --done-color: #20fa4c;
  --progress-color: #ffc62a;
  --card-bg-color: #4a4a4a;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}