@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.light {
  --bg-color: #fff;
  --text-color: #333;
  --border-color: #ccc;
  --primary-bg-color: #007bff;
  --primary-hover-bg-color: #0069d9;
  --secondary-bg-color: transparent;
  --secondary-hover-color: #c0bfbf;
  --secondary-color: #333;
  --danger-bg-color: #dc3545;
  --danger-hover-bg-color: #c82333;
  --danger-color: #e70918;
  --done-color: #029121;
  --progress-color: #b08300;
  --cardBackground: #dfe7ee;
}

.dark {
  --bg-color: #333;
  --text-color: #fff;
  --border-color: #ccc;
  --primary-bg-color: #007bff;
  --primary-hover-bg-color: #0069d9;
  --secondary-bg-color: transparent;
  --secondary-hover-color: #666;
  --secondary-color: #fff;
  --danger-bg-color: #dc3545;
  --danger-hover-bg-color: #c82333;
  --danger-color: #fa3846;
  --done-color: #20fa4c;
  --progress-color: #ffc62a;
  --cardBackground: #4a4a4a;
 
}

:root {
  --card-gap-three: 20px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container{
  max-width: 130rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}


.header-container{
  max-width: 95%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid var(--text-color);
  padding: .5rem;
}

.header-logo svg
{
  width: 2rem;
  height: 2rem;
}

.theme-icon svg
{
  width: 2rem;
  height: 2rem;
}

.btn:hover {
  transform: scale(1.05);
}

.header-title
{
  font-size: 2rem;
  line-height: 0;

}

.game-card {
  display: flex;
  background: var(--cardBackground);
  box-shadow: var(--shadow-md);
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 4 - 4 * var(--card-gap-three));
  height: 420px;
  border-radius: 0.6rem;
  color: var(--text);
  font-size: 1.2rem;
  /* transform: scale(.8); */
}

@media (max-width: 1000px) {
  .game-card
  {
    width: calc(100% / 2 - 4 * var(--card-gap-three));
  }
}

@media (max-width: 800px) {
  .game-card
  {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .game-card
  {
    width: calc(100% / 2 - 4 * var(--card-gap-three));
  }
}

@media (max-width: 600px) {
  .game-card
  {
    width: 90%;
  }
}

.game-card-title {
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;

  overflow: hidden;
  text-overflow: ellipsis;
}

.game-card:hover{
  transform: scale(1.05);
}

.сontain-img {
  object-fit: contain;
  object-position: bottom;
}

.game-card-img {
  max-height: 72px;
  width: 100%;
}

.img-game-card-container {
  padding-top: 20px;
  padding-bottom: 20px;
}


.game-card-container {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap-three);
  justify-content: center;
}

.сontain-img {
  object-fit: contain;
  object-position: bottom;
}

.game-card-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
  width: 90%;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.game-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--cardBackground);
  max-width: 40%;
  padding: 40px;
  margin-bottom: 100px;
  border-radius: .6rem;

  color: var(--text);
  font-size: 1.4rem;  
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem
}
.game-input-txt{
  width: 100%;
  height: 1.6rem;
  border-radius: .3rem;
}
 
.input-container label {
  text-align: end;
  font-weight: bold;
}

.label-wrap {
  width: 100%;
}

.btn-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.std-btn {
  border: none;
  color: var(--text-color);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .2rem;
}

.delete-btn{
  background-color: var(--danger-bg-color);
}

.update-btn{
  background-color: var(--done-color);
}